.description{
  color: blue;
}

h1{
  color: brown;
}
 * {
   outline: 2px solid black !important
 }

 * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}

.Calico{
  display: -webkit-flex;
  display: flex;
}

.Manx{
  display: -webkit-flex;
  display: flex;
}

.Simese{
  display: -webkit-flex;
  display: flex;
}
