h1{
  background-color: ;
  color: brown;
}
h2{
  color: brown;
}
.concept{
  color: black;
}
.introduction{
  font-size: 17px;
}
 .Vegetables{
   color: green;
 }
.Fruits{
  color: green;
}
.Proteins{
  color: green;
}
.Carbohydrates{
  color: green;
}
.Foods{
  color: green;
}
#paragraph{
  color: blue;
  font-size: 17px;
}
span{
  color: orange;
  outline : 1px solid blue;
}
//:nth-child(2){
  color : blue;
}
.Addition{
  font-size: 20px;
}
